# DB test related python stuff
.ipynb_checkpoints/**
**/venv
**/__pycache__

# custon files and configurations
results/
metrika/**
*.csv
test*.json

# configurations
.config
.env

# build binaries
build/*

# IDE configurations
.idea
.vscode/**
