DB_DRIVER="clickhouse"
DB_USER="user"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="database_name"
DB_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOSTs}:${DB_PORT}/${DB_DATABASE}?x-multi-statement=true"